{% extends '@PumukitPlayer/Player/index.html.twig' %}

{% block body_base %}
    {% if track %}

        <div id="player" ></div>
        <script type="text/javascript">
            var player = new Clappr.Player ({
                source: { path('pumukit_trackplayed_index', {id: track.id}) },
                parentId: "#player"
            });



        </script>
    {% else %}
        <div id="player">
            No track.
        </div>
    {% endif %}
    <script type="text/javascript">
        window.onresize = function () {
            document.getElementById('player').style.width = window.document.documentElement.clientWidth + 'px';
            document.getElementById('player').style.height = window.document.documentElement.clientHeight + 'px';
        }
    </script>
{% endblock %}
